@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

:root {
  --mainBackground: #427bb9;
  --font: #d2e1e8;
  --secondaryBackground: #b8deb8;
}

body {
  font-family: "Spartan", sans-serif;
  color: var(--font);
  background-color: var(--mainBackground);
  display: flex;
  flex-flow: column nowrap;

  height: 100vh;
  box-sizing: border-box;
  padding: 2em;
}

#header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  max-width: 100%;
  z-index: 100;
}

#nav-bar {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 50%;
}

#header-img {
  flex: 1 1 50%;
}

/* 
id="header"
id="nav-bar"
id="" 
class="links">
id="video"
id="form" 
id="name-label"
id="name"
id="email-label
id="email"
id="submit"
 */

#bottom-link {
  font-size: 0.5em;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 1.75em;
  }
}
